.pic{
   
/* position: absolute; */
/* width: 1520px ; */
/* height: 700px; */
 /* left: calc(50% - 1320px/2);  */
/* top: 50px; */
/* width: 30px 30px 30px 150px; */
background: url(6919265_29901);
border-radius: 16px;


    padding: 30px 30px 0px 150px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
   
}