body{
   


  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

nav{
    margin: 0 100px;
}

.header{
background-color: rgb(157, 245, 5);
background-repeat: no-repeat;
background-position:bottom right;

/* padding: 100px 550px 550px 550px; */



}

.banner{
    padding: 280px 500px 500px 500px; 
    display: flex;
    background-image: url('resources/Banner\ Image.png');
    background-repeat: no-repeat;
    /* background-position: center; */
    align-items: center;
    background-position: center;
}

.Celebration-tow{
    text-align: center;
    /* font-size: 450pxc; */
    /* font-weight: 1700; */
}

.banner-one{
    text-align: center;
    font-size: 45px;
    color: aliceblue;
   
}


